/*

▀████▄     ▄███▀            ▀███▄   ▀███▀                                  ▄▄█▀▀▀█▄█                                       ▀████▀ ▀███▀
  ████    ████                ███▄    █                                  ▄██▀     ▀█                                         ██   ▄█▀
  █ ██   ▄█ ██ ▀███▄███       █ ███   █   ▄██▀██▄  ▄██▀██▄▀████████▄     ██▀       ▀ ▄██▀██▄▀███▄███▀████████▄   ▄▄█▀██      ██ ▄█▀      ▄▄█▀██▀██▀   ▀██▀████████▄█████▄  ▄█▀██▄ ▀████████▄
  █  ██  █▀ ██   ██▀ ▀▀       █  ▀██▄ █  ██▀   ▀████▀   ▀██ ██    ██     ██         ██▀   ▀██ ██▀ ▀▀  ██    ██  ▄█▀   ██     █████▄     ▄█▀   ██ ██   ▄█   ██    ██    ██ ██   ██   ██   ▀██
  █  ██▄█▀  ██   ██           █   ▀██▄█  ██     ████     ██ ██    ██     ██▄        ██     ██ ██      ██    ██  ██▀▀▀▀▀▀     ██  ███    ██▀▀▀▀▀▀  ██ ▄█    ██    ██    ██  ▄█████   ██    ██
  █  ▀██▀   ██   ██    ▄▄     █     ███  ██▄   ▄████▄   ▄██ ██    ██     ▀██▄     ▄▀██▄   ▄██ ██      ██    ██  ██▄    ▄     ██   ▀██▄  ██▄    ▄   ███     ██    ██    ██ ██   ██   ██   ▄██
▄███▄ ▀▀  ▄████▄████▄  ██   ▄███▄    ██   ▀█████▀  ▀█████▀▄████  ████▄     ▀▀█████▀  ▀█████▀▄████▄  ▄████  ████▄ ▀█████▀   ▄████▄   ███▄ ▀█████▀   ▄█    ▄████  ████  ████▄████▀██▄ ██████▀
                                                                                                                                                 ▄█                                 ██
                                                                                                                                               ██▀                                ▄████▄

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



████████╗ ██████╗ ██████╗  ██████╗ ███████╗
╚══██╔══╝██╔═══██╗██╔══██╗██╔═══██╗██╔════╝
   ██║   ██║   ██║██║  ██║██║   ██║███████╗
   ██║   ██║   ██║██║  ██║██║   ██║╚════██║
   ██║   ╚██████╔╝██████╔╝╚██████╔╝███████║
   ╚═╝    ╚═════╝ ╚═════╝  ╚═════╝ ╚══════╝

[ ] Transfer window management to QMK

[ ] Transfer nav layer addenda to the QMK

[x] Need a button (capslock or the like) to change window position
    and generally redesign the window positioning system.

[ ] Need a proper readme

[ ] Need a more general description of keyboard functioning on the
    mac, including things like Vimari, window management and such




██╗███╗   ██╗ ██████╗██╗     ██╗   ██╗██████╗ ███████╗███████╗
██║████╗  ██║██╔════╝██║     ██║   ██║██╔══██╗██╔════╝██╔════╝
██║██╔██╗ ██║██║     ██║     ██║   ██║██║  ██║█████╗  ███████╗
██║██║╚██╗██║██║     ██║     ██║   ██║██║  ██║██╔══╝  ╚════██║
██║██║ ╚████║╚██████╗███████╗╚██████╔╝██████╔╝███████╗███████║
╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝ ╚═════╝ ╚═════╝ ╚══════╝╚══════╝

*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>



/*
██╗      █████╗ ██╗   ██╗███████╗██████╗ ███████╗
██║     ██╔══██╗╚██╗ ██╔╝██╔════╝██╔══██╗██╔════╝
██║     ███████║ ╚████╔╝ █████╗  ██████╔╝███████╗
██║     ██╔══██║  ╚██╔╝  ██╔══╝  ██╔══██╗╚════██║
███████╗██║  ██║   ██║   ███████╗██║  ██║███████║
╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚══════╝
*/

#define EN  0
#define RU  1
#define WNDW 2
#define SYM 3
#define QWE 4
#define NAV 5
#define NUM 6

/*
███████╗███████╗████████╗████████╗██╗███╗   ██╗ ██████╗ ███████╗
██╔════╝██╔════╝╚══██╔══╝╚══██╔══╝██║████╗  ██║██╔════╝ ██╔════╝
███████╗█████╗     ██║      ██║   ██║██╔██╗ ██║██║  ███╗███████╗
╚════██║██╔══╝     ██║      ██║   ██║██║╚██╗██║██║   ██║╚════██║
███████║███████╗   ██║      ██║   ██║██║ ╚████║╚██████╔╝███████║
╚══════╝╚══════╝   ╚═╝      ╚═╝   ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝
*/

//
// Configuring behavior of sticky shift
// to avoid double capitalised letters when rolling
//
&sk {
    quick-release;
};

/*
███╗   ███╗ █████╗  ██████╗██████╗  ██████╗ ███████╗
████╗ ████║██╔══██╗██╔════╝██╔══██╗██╔═══██╗██╔════╝
██╔████╔██║███████║██║     ██████╔╝██║   ██║███████╗
██║╚██╔╝██║██╔══██║██║     ██╔══██╗██║   ██║╚════██║
██║ ╚═╝ ██║██║  ██║╚██████╗██║  ██║╚██████╔╝███████║
╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/

/ {
    combos {

        //
        // Three buttons in the home position
        // on the left produce a combo that
        // presses command-shift-space, which
        // produces hint mode on macos via
        // an app called HomeRow
        //
        compatible = "zmk,combos";
        combo_6 {
            timeout-ms = <100>;
            key-positions = <14 15 16>;
            bindings = <&kp LG(LS(SPACE))>;
        };

        //
        // Three buttons in the home
        // position on the right produces
        // command-shift-J which turns on
        // scroll mode in HomeRow
        //
        compatible = "zmk,combos";
        combo_7 {
            timeout-ms = <100>;
            key-positions = <19 20 21>;
            bindings = <&kp LG(LS(J))>;
        };



    };
};


/ {

        macros {

        //
        // Below two press a hotkey to switch
        // to a different layout in OS
        // and then toggle my keyboard language layer.
        //
        ZMK_MACRO(to_ru,
            wait-ms = <0>;
            bindings
        //      = <&kp LG(LA(N2))>
		= <&kp LC(SPACE)>
                , <&to RU>
                ;
        )

        ZMK_MACRO(to_en,
            wait-ms = <0>;
            bindings
                = <&kp LC(SPACE)>
                , <&to EN>
                ;
        )

        //
        // Switch to the QWERTY layer with
        // Left Command / Left Option being held.
        // I'm typing in an alt layout, but
        // want my hotkeys to still be as if
        // I'm pressing them in QWERTY.
        //
        ZMK_MACRO(cmd_qwerty,
            wait-ms = <0>;
            bindings
                = <&macro_press &mo QWE &kp LCMD>
                , <&macro_pause_for_release>
                , <&macro_release &mo QWE &kp LCMD>
                ;
        )

        ZMK_MACRO(alt_qwerty,
            wait-ms = <0>;
            bindings
                = <&macro_press &mo QWE &kp LALT>
                , <&macro_pause_for_release>
                , <&macro_release &mo QWE &kp LALT>
                ;
        )
        //
        // Switch to layers while
        // switching languages for
        // the duration of the layer. Lets me
        // get symbols from the Latin layer
        // while being in the Russian layout.
        //
        ZMK_MACRO(en_sym_l,
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &mo SYM_L>
                , <&macro_tap &kp LC(SPACE)>
                , <&macro_pause_for_release>
                , <&macro_tap &kp LC(SPACE)>
                , <&macro_release &mo SYM_L>
                ;
        )
        ZMK_MACRO(en_sym_r,
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &mo SYM>
                , <&macro_tap &kp LC(SPACE)>
                , <&macro_pause_for_release>
                , <&macro_tap &kp LC(SPACE)>
                , <&macro_release &mo SYM>
                ;
        )

        //
        // Convenience macros:
        // switching tabs left and right
        //
        ZMK_MACRO(tab_l,
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp LG(LS(LBKT))>
                ;
        )
        ZMK_MACRO(tab_r,
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &kp LG(LS(RBKT))>
                ;
        )
    };






/*
██████╗ ███████╗██╗  ██╗ █████╗ ██╗   ██╗██╗ ██████╗ ██╗   ██╗██████╗ ███████╗
██╔══██╗██╔════╝██║  ██║██╔══██╗██║   ██║██║██╔═══██╗██║   ██║██╔══██╗██╔════╝
██████╔╝█████╗  ███████║███████║██║   ██║██║██║   ██║██║   ██║██████╔╝███████╗
██╔══██╗██╔══╝  ██╔══██║██╔══██║╚██╗ ██╔╝██║██║   ██║██║   ██║██╔══██╗╚════██║
██████╔╝███████╗██║  ██║██║  ██║ ╚████╔╝ ██║╚██████╔╝╚██████╔╝██║  ██║███████║
╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝  ╚═══╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/
        behaviors {
        //
        // Custom Layer-Tap: switches to layer when held,
        // presses a button when pressed. ZMK has this
        // by default (called &lt), but I duplicate it
        // because I want to play with tapping terms and such.
        //
        lt_cust: lt_cust {
            compatible = "zmk,behavior-hold-tap";
            label="LT_CUSTOM";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            bindings = <&mo>, <&kp>;
        };

        //
        // Same as lt_cust, but calls macros when held.
        // I use this to switch between languages. I wrote
        // language-switching macros that (a) switch my active
        // layer; (b) switch the OS language.
        //
        hold_ru: hold_ru {
            compatible = "zmk,behavior-hold-tap";
            label="hold_ru";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            bindings = <&to_ru>, <&kp>;
        };

        hold_en: hold_en {
            compatible = "zmk,behavior-hold-tap";
            label="hold_en";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            bindings = <&to_en>, <&kp>;
        };

        //
        // These two are used to go to English symbol layers
        // when being held in the Russian layout and produce
        // keypresses if they're tapped, not held.
        //
        hold_sym_l: hold_sym_l {
            compatible = "zmk,behavior-hold-tap";
            label="hold_sym_l";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            bindings = <&en_sym_l>, <&kp>;
        };
        hold_sym_r: hold_sym_r {
            compatible = "zmk,behavior-hold-tap";
            label="hold_sym_r";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            bindings = <&en_sym_r>, <&kp>;
        };

	//
	// This is a sticky shift that, when pressed two times
	// quickly, becomes a caps shift.
	//
        sd: sd {
            compatible = "zmk,behavior-tap-dance";
            label = "SD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHFT>, <&caps_word>;
        };

	//
	// This will make shift
	// toggle to nav layer when held down
	// and tap dance when tapped.
	//
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };

    };



/*
██╗      █████╗ ██╗   ██╗███████╗██████╗ ███████╗
██║     ██╔══██╗╚██╗ ██╔╝██╔════╝██╔══██╗██╔════╝
██║     ███████║ ╚████╔╝ █████╗  ██████╔╝███████╗
██║     ██╔══██║  ╚██╔╝  ██╔══╝  ██╔══██╗╚════██║
███████╗██║  ██║   ██║   ███████╗██║  ██║███████║
╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚══════╝
*/

        keymap {
                compatible = "zmk,keymap";
                default_layer {
/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  tab  │   B   │   Y   │   O   │   U   │       │░                       │       │   L   │   D   │   W   │   Z   │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│  CTRL │       │       │       │       │       │░                       │       │       │       │       │       │  RUS  │░
│  ---  │   C   │   I   │   E   │   A   │       │░                       │   V   │   H   │   T   │   S   │   N   │  ---  │░
│  esc  │       │       │       │       │       │░                       │       │       │       │       │       │   Q   │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│ stick │       │       │       │       │       │░                       │       │       │       │       │       │ stick │░
│ shift │   G   │   X   │   J   │   K   │       │░                       │       │   R   │   M   │   F   │   P   │ shift │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││  SYM  │░     │       │░│       │       │░
                                │   ⌥   │   ⌘   ││  ---  │░     │ bkspc │░│  NUM  │  NAV  │░
                                │       │       ││ space │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘░
                                                  ░░░░░░░░░      ░░░░░░░░░
*/


                        bindings = <

   &kp TAB        &kp B  &kp Y  &kp O  &kp U  &none                                    &none  &kp L  &kp D  &kp W  &kp Z  &none
   &mt LCTRL ESC  &kp C  &kp I  &kp E  &kp A  &none                                    &kp V  &kp H  &kp T  &kp S  &kp N  &hold_ru 0 Q
   &mo_tog 0 WNDW &kp G  &kp X  &kp J  &kp K  &none                                    &none  &kp R  &kp M  &kp F  &kp P  &sd

                  &alt_qwerty  &cmd_qwerty  &lt_cust SYM SPACE             &kp BSPC  &tog NUM  &tog NAV
                        >;
                };






                    russian_layer {
/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  +++  │   Б   │   Ы   │   О   │   У   │   Э   │░                       │   Ц   │   Л   │   Д   │   З   │   Я   │   Ъ   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│  ENG  │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  ---  │   Ч   │   И   │   Е   │   А   │   Й   │░                       │   В   │   Н   │   Т   │   С   │   Ь   │   Ю   │░
│  esc  │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  +++  │   Г   │   Ш   │   Ж   │   К   │   Щ   │░                       │   Х   │   Р   │   М   │   Ф   │   П   │  +++  │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││  SYM  │░     │       │░│       │       │░
                                │  +++  │  +++  ││  ---  │░     │ bkspc │░│  +++  │  +++  │░
                                │       │       ││ space │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘
                                                  ░░░░░░░░░      ░░░░░░░░░
*/
                        bindings = <

   &trans          &kp COMMA  &kp S  &kp J     &kp E  &kp APOS                          &kp W     &kp K  &kp L  &kp P  &kp Z  &kp RBKT
   &hold_en 0 ESC  &kp X      &kp B  &kp T     &kp F  &kp Q                             &kp D     &kp Y  &kp N  &kp C  &kp M  &kp DOT
   &trans          &kp U      &kp I  &kp SEMI  &kp R  &kp O                             &kp LBKT  &kp H  &kp V  &kp A  &kp G  &trans

                            &trans  &trans  &hold_sym_r 0 SPACE                  &kp BSPC &trans  &trans
                        >;
                };






                windows {
/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │ windw │ windw │ windw │ windw │ windw │░                       │       │       │       │       │       │       │░
│       │ uplft │  max  │ uprht │ lft   │  sml  │░                       │       │       │       │       │       │       │░
│       │ qartr │       │ qartr │  up   │ uprht │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │ windw │ windw │ windw │ windw │ windw │░                       │       │       │       │       │       │       │░
│       │  lft  │ centr │  rht  │  lft  │  sml  │░                       │       │       │       │       │       │       │░
│       │  hlf  │       │  hlf  │  mid  │downrht│░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│░░░░░░░│ windw │       │ windw │ windw │       │░                       │       │       │       │       │       │       │░
│░░░░░░░│ dnlft │       │ dnrht │  lft  │       │░                       │       │       │       │       │       │       │░
│░░░░░░░│ qartr │       │ qartr │  mid  │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││       │░     │       │░│       │       │░
                                │       │       ││       │░     │       │░│       │       │░
                                │       │       ││       │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘░
                                                  ░░░░░░░░░      ░░░░░░░░░
*/

                        bindings = <
   &none  &kp LG(LS(LC(Q)))  &kp LG(LS(LC(W)))  &kp LG(LS(LC(E)))  &kp LG(LS(LC(N1))) &kp LG(LS(LC(N9)))   &none  &none  &none  &none  &none  &none
   &none  &kp LG(LS(LC(A)))  &kp LG(LS(LC(S)))  &kp LG(LS(LC(D)))  &kp LG(LS(LC(N2))) &kp LG(LS(LC(N0)))   &none  &none  &none  &none  &none  &none
   &none  &kp LG(LS(LC(Z)))  &none              &kp LG(LS(LC(X)))  &kp LG(LS(LC(N3))) &none                &none  &none  &none  &none  &none  &none

                                          &none &none &none                   &none &none &none
                        >;
                };






                                symbols {
/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  BT X │   $   │   _   │   [   │   -   │ mdash │░                       │   /   │   !   │   ]   │   *   │   %   │  BT3  │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  BT1  │   @   │   +   │   (   │   ,   │   ;   │░                       │   :   │   .   │   )   │   #   │   &   │  BT4  │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  BT2  │   =   │   <   │   {   │   '   │   "   │░                       │   ~   │   ?   │   }   │   >   │   =   │  BT5  │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│░░░░░░░│      │       │░┌───────┬───────┐
                                │       │       ││░░░░░░░│      │       │░│       │       │░
                                │       │       ││░░░░░░░│      │  RET  │░│       │       │░
                                │       │       ││░░░░░░░│      │       │░│       │       │░
                                └───────┴───────┘│░░░░░░░│      │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│░░░░░░░│      │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘      └───────┘░
                                                                 ░░░░░░░░░

*/

                        bindings = <
   &bt BT_CLR    &kp DLLR   &kp UNDER  &kp LBKT &kp MINUS  &kp LA(LS(MINUS))    &kp FSLH   &kp EXCL   &kp RBKT  &kp STAR  &kp PRCNT  &bt BT_SEL 2
   &bt BT_SEL 0  &kp AT     &kp PLUS   &kp LPAR &kp COMMA  &kp SEMI             &kp COLON  &kp DOT    &kp RPAR  &kp HASH  &kp AMPS   &bt BT_SEL 3
   &bt BT_SEL 1  &kp EQUAL  &kp LT     &kp LBRC &kp APOS   &kp DQT              &kp TILDE  &kp QMARK  &kp RBRC  &kp GT    &kp EQUAL  &bt BT_SEL 4

                                     &none &none &none                        &kp RET &none &none
                        >;
                };






/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  +++  │   Q   │   W   │   E   │   R   │   T   │░                       │   Y   │   U   │   I   │   O   │   P   │   [   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│  +++  │   A   │   S   │   D   │   F   │   G   │░                       │   H   │   J   │   K   │   L   │   ;   │   '   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│ norm. │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│ shift │   Z   │   X   │   C   │   V   │   B   │░                       │   N   │   M   │   ,   │   .   │   /   │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││       │░     │       │░│       │       │░
                                │   ⌥   │   ⌘   ││  +++  │░     │  +++  │░│  +++  │  +++  │░
                                │       │       ││       │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘░
                                                  ░░░░░░░░░      ░░░░░░░░░
*/
                            qwerty_layer {

                        bindings = <
   &trans     &kp Q  &kp W  &kp E  &kp R  &kp T                                   &kp Y  &kp U  &kp I      &kp O    &kp P     &kp LBKT
   &trans     &kp A  &kp S  &kp D  &kp F  &kp G                                   &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp APOS
   &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B                                   &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &trans

                     &kp LALT  &kp LCMD  &trans                                  &trans  &trans   &trans
                        >;
                };






                navigation {
/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │ Tab←  │   ↑   │ Tab→  │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │   ←   │   ↓   │   →   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │ windw │ windw │ windw │░
│ shift │       │       │       │       │       │░                       │       │       │       │  sml  │ hide  │   sml │░
│       │       │       │       │       │       │░                       │       │       │       │ctr-lft│       │ctr-rht│░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││       │░     │       │░│       │       │░
                                │   ⌥   │   ⌘   ││       │░     │       │░│       │       │░
                                │       │       ││       │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘░
                                                  ░░░░░░░░░      ░░░░░░░░░
*/

                        bindings = <
   &tog NAV  &tog NAV  &tog NAV  &tog NAV  &tog NAV  &tog NAV                    &tog NAV  &tog NAV  &tog NAV  &kp LG(LS(LBKT))  &kp UP                &kp LG(LS(RBKT))
   &tog NAV  &tog NAV  &tog NAV  &tog NAV  &tog NAV  &tog NAV                    &tog NAV  &tog NAV  &tog NAV  &kp LEFT          &kp DOWN              &kp RIGHT
   &kp LSHFT &tog NAV  &tog NAV  &tog NAV  &tog NAV  &tog NAV                    &tog NAV  &tog NAV  &tog NAV  &none             &kp LG(LS(LC(LEFT)))  &kp LG(H)

                              &kp LALT  &kp LCMD  &tog NAV                     &tog NAV  &tog NAV  &tog NAV
                        >;
                };






                num_layer {
/*
┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │  br-  │  br+  │       │░                       │   .   │   1   │   2   │   3   │   +   │   *   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │ mute  │ vol-  │ vol+  │       │░                       │   ,   │   4   │   5   │   6   │   -   │   /   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │   7   │   8   │   9   │   =   │   =   │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││       │░     │       │░│       │       │░
                                │       │       ││       │░     │       │░│       │   0   │░
                                │       │       ││       │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘░
                                                  ░░░░░░░░░      ░░░░░░░░░
*/

                        bindings = <
   &none  &none  &none       &kp C_BRI_DN  &kp C_BRI_UP  &none                                  &kp COMMA  &kp N1  &kp N2  &kp N3  &kp PLUS   &kp DOT
   &none  &none  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &none                                  &kp DOT    &kp N4  &kp N5  &kp N6  &kp MINUS  &kp FSLH
   &none  &none  &none       &none         &none         &none                                  &none       &none  &kp N7  &kp N8  &kp N9     &kp EQUAL

                                     &none &none &none                             &none &tog NUM  &kp N0
                        >;
                };
        };
};




/*

▄▄▄▄▄▄▄▄▄ .• ▌ ▄ ·.  ▄▄▄·▄▄▌   ▄▄▄· ▄▄▄▄▄▄▄▄ .
▀•██ ▀▀▄.▀··██ ▐███▪▐█ ▄███•  ▐█ ▀█ •██  ▀▄.▀·
  ▐█.▪▐▀▀▪▄▐█ ▌▐▌▐█· ██▀·██ ▪ ▄█▀▀█  ▐█.▪▐▀▀▪▄
  ▐█▌·▐█▄▄▌██ ██▌▐█▌▐█▪·•▐█▌ ▄▐█▪ ▐▌ ▐█▌·▐█▄▄▌
  ▀▀▀  ▀▀▀ ▀▀  █▪▀▀▀.▀   .▀▀▀  ▀  ▀  ▀▀▀  ▀▀▀



┌───────┬───────┬───────┬───────┬───────┬───────┐                        ┌───────┬───────┬───────┬───────┬───────┬───────┐
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
├───────┼───────┼───────┼───────┼───────┼───────┤░                       ├───────┼───────┼───────┼───────┼───────┼───────┤░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
│       │       │       │       │       │       │░                       │       │       │       │       │       │       │░
└───────┴───────┴───────┴───────┴───────┴───────┘░                       └───────┴───────┴───────┴───────┴───────┴───────┘░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░┌───────┐      ┌───────┐ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                ┌───────┬───────┐│       │░     │       │░┌───────┬───────┐
                                │       │       ││       │░     │       │░│       │       │░
                                │       │       ││       │░     │       │░│       │       │░
                                │       │       ││       │░     │       │░│       │       │░
                                └───────┴───────┘│       │░     │       │░└───────┴───────┘░
                                 ░░░░░░░░░░░░░░░░│       │░     │       │░ ░░░░░░░░░░░░░░░░░
                                                 └───────┘░     └───────┘░
                                                  ░░░░░░░░░      ░░░░░░░░░

*/